{
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "rules": {
    "arrow-body-style":"off",
    "no-underscore-dangle": "off",
    "array-callback-return": "off",
    "consistent-return": "off",
    "no-param-reassign": "off"
  }
}